﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage/frmMasterPage.Master" AutoEventWireup="true" CodeBehind="frmDespachos.aspx.cs" Inherits="Web.Santa_Elena.frmDespachos" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <link href="../assets/plugins/bootstrap-slider/slider.css" rel="stylesheet" />


    <div class="content-wrapper">


        <!-- Content Header (Page header) -->
        <section class="content-header">
        </section>


        <div class="col-md-6">
            <div class="box box-warning direct-chat direct-chat-warning">
                <div class="box-header with-border">
                    <i class="fa fa-book margin-r-5"></i>
                    <h3 class="box-title">Ingresar Pallet:</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                        <div class="form-group has-success">
                            
                        </div>

                    <hr>

                    <div id="Despacho">
                        </div>


                </div>
                <!-- /.box-body -->
            </div>
        </div>


    </div>
        <script src="frmDespachos.js"></script>
</asp:Content>
